/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}

body {
    background-image: linear-gradient( 180deg,  rgba(247,247,247,1) 23.8%, rgba(252,221,221,1) 92% );
}

/* Heading */

.heading {
    text-align: center;
    font-size: 32px;
    font-family: clikerScriptRegular;
    color: #FF5E5E;
}

/* Description */

.description {
    margin-top: 50px;
}

.description > p {
    text-align: center;
    font-size: 26px;
    font-family: badScriptRegular;
    margin: 20px 0;

}

/* Dog Image */

.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.image {
    background-image: linear-gradient( 180deg,  rgba(247,247,247,1) 23.8%, rgba(252,221,221,1) 98% );
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
	width: 30%;
}

.image > p {
    font-size: 15px;
    font-family: badScriptRegular;
}

.image img{
    object-fit: cover;
	height: 100%;
	width: 100%;
}

/* Generator */

.generator-section {
    display: flex;
    justify-content: space-evenly;
}

.generator-section label {
    font-size: 20px;
    font-family: badScriptRegular;  
}

    /* name */

.name-field {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

    /* gender */

.gender-section {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 10%;
}

.gender {
    display: flex;
    justify-content: space-between;
}

.gender-image {
    width: 20%;
}

.gender-image > img {
    width: 100%;
}

.gender-section p {
    text-align: center;
    font-size: 18px;
    font-family: badScriptRegular;
    width: 100%;
    margin-top: 10px;
    background: #ffff;
    border: 1px solid #CDCACA;
    border-radius: 5px;
}

    /* age */

.age-section {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 10%;
}

.age {
    display: flex;
    justify-content: space-between;
}

.age-image {
    width: 20%;
    margin-left: 14%;
}

.age-image > img {
    width: 100%;
}

.age-section p {
    text-align: center;
    font-size: 18px;
    font-family: badScriptRegular;
    width: 100%;
    margin-top: 10px;
    background: #ffff;
    border: 1px solid #CDCACA;
    border-radius: 5px;
}

    /* nationality */

.nationality-section {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 20%;
    
}

.nationality {
    display: flex;
    justify-content: space-between;
}

.nationality-image {
    width: 10%;
    margin-left: 10%;
}

.nationality-image > img {
    width: 100%;
}

.nationality-section p {
    text-align: center;
    font-size: 18px;
    font-family: badScriptRegular;
    width: 100%;
    margin-top: 10px;
    background: #ffff;
    border: 1px solid #CDCACA;
    border-radius: 5px;
}

/* Utilities */

@font-face {
    font-family: clikerScriptRegular;
    src: url(../fonts/ClickerScript-Regular.ttf);
}

@font-face {
    font-family: badScriptRegular;
    src: url(../fonts/BadScript-Regular.ttf);
}

/* media query */